<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">contact</span>
            <h2 class="cs-title">Ready to work with us?</h2>
            <p class="cs-text">
                Don't let your customers continue to scroll by. Drop us a line today and we'll get back to you as soon as we can!
            </p>
            <a href="/contact" class="cs-button-solid">Contact</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/pictures/on-phone-m.webp">
        <source media="(max-width: 1400px)" srcset="/assets/pictures/on-phone.webp">
        <source media="(min-width: 1401px)" srcset="/assets/pictures/on-phone.jpg">
        <img loading="lazy" decoding="async" src="/assets/pictures/on-phone.webp" alt="cleaner" width="1920" height="660" aria-hidden="true">
    </picture>
</section>