<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1391">
    <div class="cs-container">
        <div class="logo-cont">
            <a aria-label="go back to home" href="/" class="cs-logo">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="/assets/icons/painless-logo.webp"
                    alt="logo" width="209" height="40">
            </a>
        </div>
        <div class="cs-top">
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="/" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/about" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="/services" class="cs-link">Services</a>
                </li>
                <li class="cs-li">
                    <a href="/contact" class="cs-link">Contact</a>
                </li>
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h2 class="cs-link">Services</a>
                </li>
                <li class="cs-li">Website Development</li>
                <li class="cs-li">Website Design</li>
                <li class="cs-li">Website Hosting</li>
                <li class="cs-li">Domain Setup</li>
                <li class="cs-li">Google Business Suite</li>
                <li class="cs-li">Google Analytics</li>
                <li class="cs-li">SEO</li>
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h2 class="cs-link">Contact</a>
                </li>
                <li class="cs-li">
                    <a href="tel:{{client.phoneForTel}}" class="phone-email-li"> {{client.phoneFormatted}} </a>
                </li>
                <li class="cs-li">
                    <a href="mailto:{{client.email}}" class="phone-email-li">{{client.email}}</a>
                </li>
            </ul>

        </div>
    </div>

    <div class="cs-bottom">

        <span class="cs-copyright">
            © Copyright 2025 - Painless Sites
        </span>
    </div>
    </div>
</footer>