<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1386">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Pricing</span>
            <h2 class="cs-title">Flexible Pricing that Fits Your Budget</h2>
            <p class="cs-text">
                Our standard pack covers all the bases, but our blogging pack can be the boost to your SEO that you need to build your online presence.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Standard Pack</span>
                    <span class="cs-price">
                        $120
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="/assets/icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Mobile Optimized</li>
                        <li class="cs-li">Free Hosting</li>
                        <li class="cs-li">Lifetime Updates</li>
                        <li class="cs-li">Unlimited Edits</li>
                        <li class="cs-li">Google Business and Analytics Setup</li>
                    </ul>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Standard w/<br>Blogging</span>
                    <span class="cs-price">
                        $299
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Everything in Standard Pack</li>
                        <li class="cs-li">1 Blog Post a Month</li>
                        <li class="cs-li">Written and Optimized by an SEO Expert</li>
                        <li class="cs-li">$100 for Each Additional Post</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>