<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->

<section id="steps-1376">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper typewriter">How Does It Work?</span>
            <h2 class="cs-title">Our Design and Development Process</h2>
        </div>

        <!--
            We had to use a div here because of the grouping we had to do to make the staggerd design work. We needed to create two groups, one with 3 cards and one with 2 cards so we can arrange the cards separately to create the design we need to create. 
        -->
        <div class="cs-card-group">
            <div class="cs-group1">
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/icons/message-square.svg" alt="icon"
                            width="48" height="48"/>
                    </picture>
                    <h3 class="cs-h3">Consultation</h3>
                    <p class="cs-item-text">
                        The first step is to get to know your business. This includes your goals, who you want to reach, and how you want the design to look.
                    </p>
                </div>
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/icons/code.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="cs-h3">Design and Development</h3>
                    <p class="cs-item-text">
                        Our strategy will dictate how we develop your website, hand-coding every pixel to ensure it fits your vision.
                    </p>
                </div>
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/icons/share.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="cs-h3">Launch</h3>
                    <p class="cs-item-text">
                        Once we've finalized everything, we'll make sure everything is optimized for search engines, and launch your site.
                    </p>
                </div>
            </div>
            <div class="cs-group2">
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/icons/edit.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="cs-h3">Preparation</h3>
                    <p class="cs-item-text">
                        Next we'll take everything from our conversation and develop a strategy to bring it to life.
                    </p>
                </div>
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/icons/user-check.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="cs-h3">Feedback</h3>
                    <p class="cs-item-text">
                        We'll present a finished site and get your feedback so we can ensure we're delivering a result you're happy with. 
                    </p>
                </div>
            </div>
            <picture class="cs-waves">
                <!--Mobile Image-->
                <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-tablet.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg" alt="wave" width="1280" height="568">
            </picture>
        </div>
    </div>
</section>