---
title: 'About | Painless Sites'
description: 'Who we are and why we hand-code websites for small business'
preloadImg: '/assets/pictures/cam.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-867">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/pictures/cam.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/pictures/cam.webp">
                <img loading="lazy" decoding="async" src="/assets/pictures/cam.webp" alt="picture of Cameron, owner" width="630" height="775">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Painless Sites</span>
                <h2 class="cs-title">Helping Small Businesses Get The Reach They Deserve</h2>

                <p class="cs-text">
                    <span class="text-intro">Things shouldn't be this complicated.</span>
                    <br>
                    Ever since I was a kid, I wanted to find the fastest way to become the best at things. I developed a knack for reducing bigger concepts into manageable chunks in my head, and then working out the quickest steps to achieve my goals. I quickly found a passion for problem-solving.
                </p>
                <p class="cs-text">
                Years later, I've found my experience working with computers and my love for design and animation can be put to good use in developing websites. Being the owner of a small business myself, I understand the trials and limitations that come with being your own boss. The frustration that comes from that is why Painless Sites came to be.
            </p>
                <p class="cs-text">
                With Wordpress, Wix, Squarespace, and all the other website builders out there, you'd think it'd be crazy to offer hand-coded website development in the sea of drag-and-drop builders. Until you start to use one of those builders, of course.
            </p>
                <p class="cs-text">
                Turns out, drag-and-drop is more complicated than it sounds when you have a vision for how you want your business represented. Instead, developing from the code up gave me the pixel-perfect precision I needed. It took years to learn, but it was well worth the time.
            </p>
                <p class="cs-text">
                After talking with businessowners, I've realized that while they are unhappy with their website, they don't have the budget for a hand-coded site and just put up with what they've got.
            </p>
                <p class="cs-text">
                    <span class="text-intro">That's where I come in.</span><br>Small businesses need to look out for each other. That's why we offer an affordable service to help you get your name out there. We don't just focus on the look and feel of your site - a big chunk of our work is on how it functions. It needs to be lightweight, responsive, and well-structured if you want a chance at the top of the search results. 
            </p>
                <p class="cs-text">
                We also focus on getting your business page set up, and track analytics so that we can hone in on your audience and get you more customers. When you pay my monthly fee, you're not just renting a website - you're subscribing to an ongoing service that is essential to standing out from the rest.
                <br>
                    <span class="text-intro-last">Let's work together to get you the reach you deserve.</span>
                </p>
                <p class="cs-text sig">
                    <i>&ensp;-Cameron H, Owner</i>
                </p>
                <a href="/contact" class="cs-button-solid">Contact Us</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}