---
title: 'Small Business Web Design and Development | Painless Sites'
description: 'Hand-Coded websites built to suit your needs. No page builders or Wordpress. Starting at $120/mo.'
preloadImg: ''
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    <script defer src="/assets/js/observer.js"></script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-143">
        <div class="cs-container">
            <div class="custom-shape-divider-bottom-1723321338">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                </svg>
            </div>
            <h1 class="cs-title" id="title">Hand-Coded Websites for Small Businesses</h1>
            <p class="cs-text" id="text">
            The painless alternative to website builders. Starting at $120/mo.
        </p>
            <a href="/services" class="cs-button-solid" aria-label="read more about us">Our Services</a>
        </div>

    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="h-services-143">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="/assets/icons/briefcase.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Professional Look</h2>
                <p class="cs-text">
                Your brand is your business. To set yourself apart from the rest, you need a good first impression. Your website can be the face of your brand, and if it's set up right it can be all a customer needs to choose you over the others.
            </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="/assets/icons/trophy.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Front Page Results</h2>
                <p class="cs-text">
                The best should be at the top. When a customer searches for your services, your website should be one of the first businesses that comes up. There's a lot of factors involved, but to get there at all you need your own website.
            </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/gear.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Total Control</h2>
                <p class="cs-text">
                A business page on a social media site is easy to manage, but incredibly limited. A website gives you total control over how your customers see your brand, and allows you a much better chance to make a sale on the first visit.
            </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="/assets/icons/lock.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Remain Secure</h2>
                <p class="cs-text">
                Having control over who hosts and manages your website will give you a leg up on bad actors. Don't leave your livelihood in the hands of a customer service rep.
            </p>
            </li>
        </ul>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbs-r-870">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/pictures/frustrated-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/pictures/frustrated.webp">
                <img loading="lazy" decoding="async" src="/assets/pictures/frustrated.webp" alt="therapy" width="630" height="775">
            </picture>
            <div class="cs-content">

                <h2 class="cs-title" id="title">
                    <span>Is it worth the pain?</span></h2>
                <p class="cs-text">
                Even in a world of low-to-no-code website builders, the most successful know to delegate tasks to those who know how to get them done. The time it takes to build or generate a website alongside the regular maintenance of keeping it running smoothly can quickly become overwhelming when you need to focus on what you do best - running your business.
            </p>
                <p class="cs-text" style="margin-top: 1rem;">
                    <span>Focus on work. Leave the website stuff to us.            </span></p>
                <a href="/services" class="cs-button-solid">Our Services</a>

            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--              Pricing/Services                -->
    <!-- ============================================ -->

    <section id="services-1646">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">$0 Down, <br>
                    <span id="counter" class="counter">$120</span>/Month,<br> 6-Month Minimum Contract</h2>
                <p class="cs-text">Get a professional 5-page small business website with no upfront cost. Need more than 5 pages? We offer custom pricing based on the scope of work, additional pages, and the time required.</p>
                <p class="cs-text">You own your domain, content, listings, and profiles. Cold feet? There are no cancellation fees. Contact us today to get started.</p>
                <a href="/contact" class="cs-button-solid">Get Started</a>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" src="/assets/icons/check-circle.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Hosting and Editing Included</h3>
                        <p class="cs-item-text">Your monthly payment covers all hosting fees. Request changes anytime, and we’ll implement them ASAP.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="/assets/icons/check-circle.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Responsive Customer Service</h3>
                        <p class="cs-item-text">You have our direct line. Reach out anytime to get help from a real person.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="/assets/icons/check-circle.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Design and Development</h3>
                        <p class="cs-item-text">Includes extensive design and development to ensure a beautiful, functional website.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="/assets/icons/check-circle.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Analytics and Business</h3>
                        <p class="cs-item-text">Our goal is to hit a perfect 100 Google Page Speed score to boost your search rankings. We'll also set up Google Analytics to help track website traffic, all included in your monthly price.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-1670">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Our Customer Reviews</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-flex-group">
                        <span class="cs-name">
                        Ted Hoehne
                        <span class="cs-job">Owner, <a href="https://hoehne-design.com" target="_blank">Hoehne-Design</a>
                            </span>
                        </span>
                    </div>
                    <div class="wrapper">
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                        <p class="cs-review">
                    I can highly recommend Painless Sites. Cameron took my ridiculously slow-to-load media-heavy wordpress site, and through his hand-coding magic made my website load super fast… like 8 to 10 times faster! I was stunned and thrilled.

                    He was courteous and attentive to all my requests and input throughout the website-building process, and very easy to work with.

                    And, if an issue arose in the reconstruction of my site, he was tenacious in his efforts to identify and resolve the issue quickly and efficiently. I was very impressed with his knowledge and talent and work-ethic… and his solid commitment to providing and tailor-fitting the best possible website to meet my company’s needs.

                    I highly recommend Painless Sites.
                    </p>
                    </div>
                    <!--Quote Icon-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </li>
                <li class="cs-item">
                    <div class="cs-flex-group">
                        <span class="cs-name">
                        Ethan Hill
                        </span>
                    </div>
                    <div class="wrapper">
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                        <p class="cs-review">
                    It was a pleasure working with Cameron at Painless sites. He has an eye for great design and went above and beyond to make sure I was proud of the final result. Highly recommend!
                    </p>
                    </div>
                    <!--Quote Icon-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                </li>
            </ul>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}